# Node
node_modules/

# Expo
.expo/
dist/
web-build/

# Native generated
android/
ios/

# Environment
.env
.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS / Windows
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo